@font-face {
    font-family: ChildishFree;
    src: url(ressources/font/ChildishFree.otf);
}

@font-face {
    font-family: EazyChat;
    src: url(ressources/font/Eazy\ Chat.ttf);
}

@font-face {
    font-family: WinterDrink;
    src: url(ressources/font/Winter\ Drink.ttf);
}

* {
    margin: 0;
}

.reduc_bandeau {
    width: 100%;
    background-color: #e28b3c;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-family: EazyChat;
    color: white;
}

body {
    margin: 0;
    background-color: #f9f6ef;
}

.shop {
    display: flex;
    flex-direction: column;
}

.achat_peluche {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.achat_peluche h4 {
    padding-top: 3%;
    padding-bottom: 8%;
    padding-left: 5%;
    font-family: WinterDrink;
    color: #e28b3c;
    font-size: 30px;
}

.achat_peluche .peluche {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    padding: 1%;
    border-radius: 10% 10% 10% 10%;
    transition: transform 330ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffd4a9;
    width: 23vw;
}

.achat_peluche .peluche:hover {
    transform: scale(1.03);
}


.achat_peluche img  {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 15vw;
    border-radius: 10% 10% 10% 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.old_price {
    font-weight: bold;
    text-decoration: line-through;
}

.peluche_footer {
    margin: 2%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd4a9;
}

.buy {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

.buy:hover {
  background: #670209;
  color: white;
}

.buy:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.buy:focus {
  outline: none;
  border: 2px solid #e18c3b;
}

.buy:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.buy:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.buy:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.buy:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.buy:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.price {
    display: flex;
    flex-direction: row;
    background-color: #ffd4a9;
    width: 27%;
    font-size: 18px;
}

.current_prce {
    padding-left: 5%;
}
